<template>
  <tr>
    <td>
      {{listItem.name}}
    </td>
    <td>
      {{listItem.store}}
    </td>
    <td>
      {{listItem.purchasePrice | currency}}
    </td>
    <td>
      per {{listItem.purchaseUnit}}
    </td>
    <td>
      {{listItem.type}}
    </td>
  </tr>
</template>

<script type='text/javascript'>
export default {
  props: ['listItem']
}
</script>
