<template>
  <div class='ui raised very padded text container segment'>
    <div>
      Name <input v-model="name" type='text' ref='name' defaultValue="">
    </div>
    <div class="bottom-button-container">
      <router-link to="/"><button>Cancel</button></router-link>
      <router-link to="/"><button>Done</button></router-link>
    </div>
  </div>
</template>

<script type="text/javascript">

export default {
  data () {
    return {
      titleText: '',
      projectText: '',
      isCreating: false
    }
  }
}
</script>
