<template>
  <div class='ui raised very padded text container segment'>
    <h1>
      Current Grocery List
    </h1>
    <current-grocery-list v-bind:current-grocery-items='currentGroceryItems'></current-grocery-list>
    <div class='bottom-button-container'>
      <router-link to='/item/add'><button id='add-new-item' class=''><i class='fas fa-plus'></i></button></router-link>
    </div>
  </div>
</template>

<script type='text/javascript'>
import CurrentGroceryList from '@/components/CurrentGroceryList/CurrentGroceryList'

export default {
  components: {
    CurrentGroceryList
  },
  data () {
    return {
      currentGroceryItems: [{
        name: 'Broccoli',
        type: 'Fruits & Vegetables',
        store: 'Cub Foods',
        purchasePrice: 1.99,
        purchaseUnit: 'pound(s)',
        startDate: new Date(),
        endDate: new Date(),
        onSale: false,
        isBSGS: false,
        overallPricePerUnit: 1.99,
        purchased: true,
        purchaseTotal: 9.95,
        purchaseQuantity: 5
      }, {
        name: 'Avocados',
        type: 'Fruits & Vegetables',
        store: 'Fresh Thyme',
        purchasePrice: 1,
        purchaseUnit: '2',
        startDate: new Date(),
        endDate: new Date(),
        onSale: false,
        isBSGS: true,
        overallPricePerUnit: 0.50,
        purchased: true,
        purchaseTotal: 2,
        purchaseQuantity: 4
      }]
    }
  }
}
</script>
