<template>
  <div>
    <table class="ui sortable celled table">
      <thead>
        <tr>
          <th class="">
            Item
          </th>
          <th>
            Store
          </th>
          <th>
            Cost per unit
          </th>
          <th>
            Unit
          </th>
          <th>
            Type
          </th>
        </tr>
      </thead>
      <list-item-display-row v-for='listItem in currentGroceryItems' :listItem='listItem' v-bind:key='listItem.id'></list-item-display-row>
    </table>
  </div>
</template>

<script type='text/javascript'>
import ListItemDisplayRow from '@/components/GroceryList/ListItemDisplayRow'

export default {
  components: {
    ListItemDisplayRow
  },
  props: ['currentGroceryItems']
}
</script>
